<div class="container">
  <h1>Register Yourself</h1>
  <form [formGroup]="angForm" novalidate>
    <!-- <div class="mb-3 container needs-validation"> -->
    <label for="FullName" class="form-label">Full Name</label>
    <input
      type="text"
      class="form-control"
      formControlName="name"
      id="exampleInput"
      required
    />
    <div class="line-box">
      <div class="line"></div>
    </div>
    <div
      *ngIf="
        angForm.controls['name'].invalid &&
        (angForm.controls['name'].dirty || angForm.controls['name'].touched)
      "
      class="alert alert-danger"
    >
      <!-- <div *ngIf="angForm.controls['name'].errors.required"> -->
      Name is required.
      <!-- </div> -->
    </div>
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      formControlName="email"
      required
    />
    <div class="line-box">
      <div class="line"></div>
    </div>
    <div
      *ngIf="
        angForm.controls['email'].invalid &&
        (angForm.controls['email'].dirty || angForm.controls['email'].touched)
      "
      class="alert alert-danger"
    >
      <!-- <div *ngIf="angForm.controls['address'].errors.required"> -->
      email is required.
      <!-- </div> -->
    </div>
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input
      type="password"
      class="form-control"
      formControlName="password"
      id="exampleInputPassword1"
      required
    />
    <div class="line-box">
      <div class="line"></div>
    </div>
    <div
      *ngIf="
        angForm.controls['password'].invalid &&
        (angForm.controls['password'].dirty ||
          angForm.controls['password'].touched)
      "
      class="alert alert-danger"
    >
      <!-- <div *ngIf="angForm.controls['address'].errors.required"> -->
      password is required.
      <!-- </div> -->
    </div>
    <button
      type="submit"
      [disabled]="angForm.pristine || angForm.invalid"
      class="btn btn-primary"
      (click)="submit(angForm.value)"
    >
      Submit</button
    ><br />
    <a class="button" routerLink="/userlogin">already registered?</a>
  </form>
</div>
